html{
    font-family:Verdana;
}

#banda{
    width:600px;
}

h1{
    color: #333;
    font-size:30px;
}
h2{
    color: #666;
    font-size: 16px;

}
li{
    color: #000;
    font-size: 12px;
}
th{
    background-color: #666;
    color:white;
    font-size: 13px;
    padding:14px;
}
td{
    background-color: #fff;
    padding:12px;
    

}
table{
    border-collapse: collapse;
    color:#000;
    border-color: black;
    
}
#pie{
    
    background-color: #ccc;
}
#tabla{
   margin:0px;
   font-size:12px;
   
}
#titulo{
    color: #000;
    font-size: 12px;

}


